<div class='container'>
	<h1>Ráðgjafarverkefni</h1>
	<div class='row well'>
		<div class='col-md-4'>
			<h4>Heilbrigðismál</h4>
			<ul>
				<li>Heilbrigðisstofnanir</li>
				<li>Sveitarfélög</li>
				<li>Ráðuneyti</li>
				<li>Einkafyrirtæki</li>
				<li>Iceland Health</li>
			</ul>
			<h4>Samstarfsaðilar</h4>
			<ul>
				<li>Erlingur Jóhanns</li>
				<li>Ásgeir Theódórs</li>
			</ul>
			<h4>Stefnumótun</h4>	
			<h4>Ferðaþjónusta</h4>	
			<h4>Opinber stjórnsýsla</h4>	
			<h4>Sveitarstjórnarmál</h4>	
			<h4>Klasastjórnun</h4>	
		</div>
	</div>
</div>
		


